<nav class="navbar navbar-expand-lg" style="background-color: #f7666670;"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ appTitle }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Manage Directory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/master/directory/add" href="#">Add Directory</a>
        </li>
      </ul>
      <div class="row justify-content-md-center p-4">
        <div class="col-lg-12">

          <table class="table" >
            <caption></caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Profession</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Email Id</th>
                <th scope="col">Address</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><a routerLink="">Edit</a></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><a routerLink="">Edit</a></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><a routerLink="">Edit</a></td>
              </tr>
            </tbody>
          </table> 



        </div>
    </div>
  </div>
